<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Providing Guide for everything you need from Software to Hardware, Including Python, C, C++, Arduino, Raspi, Jetson, Drones, Automatic Cars, Home Automation Projects.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
